@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&display=swap');
body{
    background: rgb(33, 209, 151);
}

h1,h2{
     font-family: "Bitcount Prop Single Ink", system-ui;
}
p{
    @import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
}
    header{
    text-align: center;
    border-bottom: solid 10px rgb(4, 27, 143);
    margin-bottom: 30px;
    padding: 20px;
}